Zone/Fdl/Schemas/family_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fdl="fdloptions.xsd">

    [IF include]<xs:include schemaLocation="fdl.xsd"/>[ENDIF include]
    [includefdlxsd]
    <xs:complexType name="family-[famname]-type">
        <xs:all >
            [BLOCK ATTR][tax]
            [ENDBLOCK ATTR]
        </xs:all>
        <xs:attribute name="id" type="xs:integer" />
        <xs:attribute name="name" type="xs:token" />
        <xs:attribute name="version" type="xs:token" />
        <xs:attribute name="key" type="xs:token" />
        <xs:attribute name="revision" type="xs:integer" />
        <xs:attribute name="state" type="xs:token" />
        <xs:attribute name="title" type="xs:token" />
        <xs:attribute name="folders" type="xs:token" />
        <xs:attribute name="modification-date" type="xs:dateTime" />


    </xs:complexType>
        <xs:element name="[famname]" type="family-[famname]-type">
        	 <xs:annotation><xs:documentation >
                      <fdl:label>[famtitle]</fdl:label>     
                </xs:documentation>
            </xs:annotation>
        </xs:element>
</xs:schema>
